html,
body {
    overflow-x: hidden;
    width: 100%;
}

#bodi {
    height: 2900px;
    overflow-x: hidden;
    width: 100%;
}

.dropdown {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    position: absolute;
    z-index: 3;

}

#drpd {
    position: absolute;
    bottom: 70px;

}

.dropdown-menu,
ul {
    position: absolute;
    background: rgba(1000, 1000, 1000, 0.4);
    margin-top: 15px;
}

.test1 {
    color: black;
}

.test1:hover {
    color: gray;
    text-decoration: none;
}

.dropdown-menu > ul > li {
    list-style-type: none;

}

.dropdown-item-text:hover {
    text-decoration: none;
    color: gray;
}

.dropdown-item-text {
    margin-right: 50px;
    color: black
}

.test:hover {
    text-decoration: none;
    color: gray;
}

.test {
    margin-left: 25px;
    color: black
}

.dropdown-submenu {
    position: relative;

}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -5px;
    height: 70px;


}

.material-icons {
    font-size: 30px;
    padding: 0;

}

.pocetna {

    margin-left: 1140px;
    font-size: 25px;
    color: dimgray;
    position: fixed;

}

.pocetna:hover {
    text-decoration: none;
    color: lightgray;
}

.slika1 {
    width: 100%;
    height: 700px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 170px;
    left: 640px;
    width: 60px;
    height: 60px;
    animation: mymove 5s infinite;
    cursor: pointer;
}

@keyframes mymove {
    from {
        top: 450px;
    }

    to {
        top: 670px;
    }
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}



#uvod {
    background: white;
    height: 200px;
    width: 1100px;
    bottom: 500px;
    background: rgba(1000, 1000, 1000, 0.7);
}

.adaptPro {
    color: black;
    margin-left: 42%;
    margin-top: 1%;
    position: absolute;
    font-family: serif;
    font-weight: bold;
}

.tekst1 {


    padding-top: 50px;
    width: 60%;
    text-align: center;
    font-family: serif;
    margin: 0 auto;
    z-index: 3;

}

#uvod1 {
    background: white;
    height: 400px;
    width: 1100px;
    bottom: 550px;
    position: relative;
    opacity: 0.7;
}

#uvod2 {
    background: gray;
    height: 400px;
    top: 100px;
    background: rgba(169, 169, 169, 0.1);
}

.tekst2 {
    position: relative;
    bottom: 860px;
    padding: 20px;
    text-align: center;
    font-family: serif;
}

#dekoracija,
#dekoracija2,
#dekoracija3 > h3 {
    font-family: serif;

}

#dekoracija {

    display: none;
    bottom: 0;
    z-index: 1;
    text-align: center;
    margin-bottom: 50px;

}

#dekoracija2 {
    margin-top: 220px;
    display: none;
    bottom: 0;
    z-index: 1;
    text-align: center;
    margin-bottom: 50px;

}

#dekoracija3 {
    margin-top: 220px;
    display: none;
    bottom: 0;
    z-index: 1;
    text-align: center;
    margin-bottom: 50px;

}

.img-responsive {
    width: 30%;

}

#dekoracija:hover .overlay {
    width: 30%;
    cursor: pointer;
    margin-bottom: 50px;
}

#dekoracija2:hover .overlay {
    width: 30%;
    cursor: pointer;
    margin-bottom: 50px;
}

#dekoracija3:hover .overlay {
    width: 30%;
    cursor: pointer;
    margin-bottom: 50px;


}

.overlay {
    position: absolute;
    bottom: 0;
    left: 480px;
    overflow: hidden;
    width: 0;
    height: 305px;
    transition: .5s ease;
    background: rgba(204, 204, 204, 0.5);
    margin-bottom: 50px;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;

}

.text:hover {
    text-decoration: none;
    color: #333333;

}

footer {
    height: 40px;
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.gmail {
    color: #404040;
    text-align: center;
    margin-top: 7px;
    font-family: "Times New Roman", sans-serif;
}

.d-block {
    width: 850px;

}

#naslov {
    font-family: serif;
    text-align: center;
    padding-top: 30px;
}

.carousel-item {

    width: 100%;
    margin: auto;

    margin-top: 10px;

}


.dropdown1 {
    float: left;
    margin-top: 5px;
    right: 1150px;
    position: absolute;
    z-index: 3;

}


.oNama {
    position: relative;
    bottom: 860px;
    margin-left: 500px;
}

.kontakt {
    text-align: center;
    margin-top: 100px;
    font-family: serif;
    font-size: 20px;
}

.k {

    bottom: 400px;
    left: 630px;
}

@media screen and (max-width: 600px) {
    .adaptPro {
        color: black;
        margin-left: 30%;
        margin-top: 6%;
        position: absolute;
        font-family: serif;
        font-weight: bold;
    }



    #dekoracija {
        margin-top: 180px;


    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 70px;
        width: 0;
        overflow: hidden;
        height: 189px;
        transition: .5s ease;
        background: rgba(204, 204, 204, 0.5);
    }

    #dekoracija:hover .overlay {
        width: 252px;
        cursor: pointer;
    }

    #dekoracija2:hover .overlay {
        width: 252px;
        cursor: pointer;
    }

    #dekoracija3:hover .overlay {
        width: 252px;
        cursor: pointer;
    }

    .img-responsive {
        width: 70%;

    }

    .slika1 {

        height: auto;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        position: absolute;
        z-index: 1;
        left: 150px;
        width: 60px;
        height: 60px;
        animation: mymove 5s infinite;
        cursor: pointer;

    }

    #uvod1 {
        background: white;
        height: 400px;
        width: 1100px;
        bottom: 70px;
        position: relative;
        opacity: 0.7;
        display: none;
    }



    .tekst2 {
        position: relative;
        bottom: 0px;
        padding: 20px;

        text-align: center;
        font-family: serif;
    }

    .oNama {
        position: relative;
        bottom: 0px;
        margin-left: 130px;
    }

    #uvod {
        background: white;
        height: 100px;
        width: 1100px;
        margin-top: 400px;
        background: rgba(1000, 1000, 1000, 0.7);
    }



    .tekst1 {
        padding-top: 40px;
        width: 60%;
        text-align: center;
        font-family: serif;
        margin: 0 auto;
        z-index: 3;
    }
    #naslov {
    font-family: serif;
    text-align: center;
    padding-top: 30px;
    font-size: 90%;
        
}
}
